/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#chat {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

#chat-tabs {
    float: left;
    list-style-type: none;
    height: 22px;
    margin: 0 0 0 25px;
    padding: 0;
    overflow: hidden;
}

#chat-tabs li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 2px;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#chat-tabs li.selected {
    padding-top: 2px;
    background-color: rgba(0,0,0,0.5);
}

#chat-tabs li a {
    display: inline-block;
    color: #fff;
    opacity: 0.9;
    text-decoration: none; 
    font-size: 10px;
}

#chat-tabs li.selected a,
#chat-tabs li a:hover {
    opacity: 1.0;
}

#chat-tabs li a:first-child {
    max-width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-close {
    position: relative;
    top: -5px;
    margin-right: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url('../images/chat/btn-close.png') no-repeat -2px -26px;
}

.btn-close:hover {
    background-position: -2px -14px;
}

.btn-close:active {
    background-position: -2px -2px;
}

#chat-box {
    position: relative;
    clear: left;
    width: 555px;
    height: 186px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 13px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(70%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.15) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#chat-box ::-webkit-scrollbar {
    width: 30px;
}

#chat-box ::-webkit-scrollbar-track {
    background-color: rgba(10, 10, 10, 0.5);
    border: 10px solid transparent;
    background-clip: content-box;
    border-bottom: none;
    border-top: none;
}

#chat-box ::-webkit-scrollbar-thumb {
    border: 7px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    background-color: rgb(68, 68, 68);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 0 rgba(0, 0, 0, 0.5); 
    border-bottom: none;
    border-top: none;
}

.chat-text {
    display: none;
    position: absolute;
    top: 8px;
    left: 0;
    width: 520px;
    height: 170px;
    margin: 0;
    padding: 0 0 0 35px;
    word-wrap: break-word;
    direction: rtl;
    overflow-x: hidden;
    overflow-y: auto;
    text-shadow:
        -1px -1px 1px rgba(0,0,0,0.5),  
         1px -1px 1px rgba(0,0,0,0.5),
        -1px  1px 1px rgba(0,0,0,0.5),
         1px  1px 1px rgba(0,0,0,0.5);
}

.chat-text * {
    direction: ltr;
}

.chat-item {
    direction: ltr;
    float: left;
    width: 100%;
}

#chat-input._global::-webkit-input-placeholder,
#chat-tabs ._global.chat-tab a,
._global .chat-channel,
._global .chat-name {
    color: #f3b877;
}

#chat-input._combat::-webkit-input-placeholder:focus,
#chat-tabs ._combat.chat-tab a,
._combat {
    color: #fd5300;
}

._combat.chat-item {
    font-weight: bold;
}

.im-chat .chat-channel,
.im-chat .chat-name {
    color: #adff2f;
}

.chat-name {
    font-weight: bold;
}

.chat-tab {
    text-shadow:
        -1px -1px 1px rgba(0,0,0,0.5),  
         1px -1px 1px rgba(0,0,0,0.5),
        -1px  1px 1px rgba(0,0,0,0.5),
         1px  1px 1px rgba(0,0,0,0.5);
}

.chat-tab.highlight {
    -webkit-box-shadow: inset 0px -76px 36px -68px rgba(255,255,255,0.59);
    -moz-box-shadow: inset 0px -76px 36px -68px rgba(255,255,255,0.59);
    box-shadow: inset 0px -76px 36px -68px rgba(255,255,255,0.59);
}

.chat-icon.iscse {
    float: left;
    background-image: url('../images/chat/CSE_icon_badge.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: bottom;
    width: 14px;
    height: 15px;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-right: 2px;
}

.chat-name.iscse {
    color: #F26666;
}

.console-body.command {
    color: #ccc;
    font-style: italic;
}

.console-body.output {
    color: #fff;
    font-weight: bold;
}

#chat-input {
    direction: ltr;
    position: absolute;
    top: 208px;
    left: 0;
    width: 555px;
    height: 30px;
    margin: 0;
    padding: 0 0 0 35px;
    border: none;
    outline-width: 0;
    background: transparent;
    color: transparent;
}

#chat-input::-webkit-input-placeholder {
    opacity: 0;
}

#chat-input:focus::-webkit-input-placeholder {
    opacity: 1;
}

#chat-input:focus {
    color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.46);
    outline-width: 0;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.6)), color-stop(70%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#chat-input[data-command-mode="1"]:focus {
    border: none;
    outline-width: 2px;
}