/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.abilityButton {
    position: absolute;
    height: 45px;
    width: 45px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

.abilityButton:hover,
.abilityButton[cooldown='1'],
.abilityButton[running='1'] {
    opacity: 1.0;
}

.abilityButton[cooldown='1'] .abilityIcon {
    -webkit-filter: grayscale(100%);
}

.abilityButton .abilityIcon {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.abilityButton .cooldownRoot {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.abilityButton .cooldownRoot .cooldownSlide {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    border: 0;
    margin: 0;
    padding: 0;

    background: black;
    opacity: 0.5;
    z-index: 3;
}

.abilityButton .activeHighlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.abilityButton[running='1'] .activeHighlight {
    visibility: visible;
}

.abilityButton .queuedIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    border: 0;
    padding: 0;
    z-index: 5;
    visibility: hidden;
}

.abilityButton[queued='1'] .queuedIcon {
    visibility: visible;
}

#tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #bbb;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 11px;
    width: 200px;
    max-height: 112px;
}

#tooltip h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 12px;
}