.window {
    position: relative;
}

.window-top {
    position: relative;
    margin: 0 4px;
    height: 46px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: #0f0f0f url(../images/window/top-middle.png) repeat-x;
}

    .window-top:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 44px;
        content: url(../images/window/top-left.png);
    }

    .window-top:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 44px;
        content: url(../images/window/top-right.png);
    }

.window-title {
    text-transform: uppercase;
    color: rgb(182, 182, 182);
    font-family: 'Cinzel', serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: default;
}

.window-close {
    position: absolute;
    top: 8px;
    right: 14px;
    width: 13px;
    height: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
    background: url(../images/window/btn-close.png) no-repeat center center;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

    .window-close:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }

    .window-close:active {
        -webkit-filter: brightness(1.0);
        filter: brightness(1.0);
    }

.window-help {
    position: absolute;
    top: 6px;
    right: 31px;
    width: 15px;
    height: 15px;
    font-weight: bold;
    border: none;
    background: none;
    color: rgb(180, 180, 180);
    text-shadow: 1px 1px black;
    cursor: pointer;
    z-index: 999;
    outline: none;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

    .window-help:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }

    .window-help:active {
        -webkit-filter: brightness(1.0);
        filter: brightness(1.0);
    }

.window-middle {
    position: relative;
    margin: 0 4px;
    padding: 0 10px 10px 10px;
    color: #fff;
    background-color: #0f0f0f;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
}

    .window-middle input[type=text] {
        color: #d3d3d3;
        padding: 5px;
        border: solid 1px rgb(39, 39, 39);
        background: rgb(39, 39, 39);
        box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.75);
        outline: none;
    }

.window-bottom {
    position: relative;
    margin: -5px 4px 0 4px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: url(../images/window/bottom-middle.png) repeat-x;
}

    .window-bottom:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 28px;
        height: 49px;
        content: url(../images/window/bottom-left.png);
    }

    .window-bottom:after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 28px;
        height: 49px;
        content: url(../images/window/bottom-right.png);
    }

    .window-bottom button {
        width: 105px;
        height: 29px;
        font-family: 'Cinzel', serif;
        font-size: 11px;
        color: #fff;
        background: url(../images/window/btn.png) no-repeat 0 0;
        border: none;
        outline: none;
    }

        .window-bottom button:disabled {
            -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
        }

        .window-bottom button:not(:disabled) {
            cursor: pointer;
        }

        .window-bottom button:hover:not(:disabled) {
            background-position: 0 -29px;
        }

        .window-bottom button:active:not(:disabled) {
            background-position: 0 -58px;
        }
