/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#options {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 686px;
    height: 423px;
    background: url('../images/options/keybind-bg.png') no-repeat 0 0;
    font-family: 'Merriweather', sans-serif;
    cursor: default;
}

.btn-menu,
.btn-save {
    width: 105px;
    font-size: 10px;
    text-align: center;
}

.btn-menu,
.btn-save,
.btn-side,
.binding-item {
    height: 29px;
    color: #fff;
    text-shadow:  2px  2px 3px rgba(0,0,0,0.3),
                  2px -2px 3px rgba(0,0,0,0.3),
                 -2px  2px 3px rgba(0,0,0,0.3),
                 -2px -2px 3px rgba(0,0,0,0.3);
}

.btn-menu {
    background: url('../images/options/menubutton.png') no-repeat 0 0;
}

.btn-menu:hover {
    background-position: 0 -30px;
}

.btn-menu:active {
    background-position: 0 -60px;
}

.btn-save {
    background: url('../images/options/savebutton.png') no-repeat 0 0;
}

.btn-save:hover {
    background-position: 0 -30px;
}

.btn-save:active {
    background-position: 0 -60px;
}

.btn-side {
    background: url('../images/options/sidemenu.png') no-repeat 0 0;
    width: 249px;
    font-size: 14px;
}

.btn-side:hover {
    background-position: 0 -30px;
}

.btn-side:active {
    background-position: 0 -60px;
}

.binding-item {
    width: 380px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

.binding-item:hover {
    background-color: black;
}

.binding-item:active {
    background-color: grey;
}

.binding-name {
    color: white;
    display: table-cell;
    text-align: left;
    left: 0;
    width: 180px;
    padding-left: 10px;
    line-height: 29px;
}

.binding-value {
    color: white;
    display: table-cell;
    text-align: right;
    right: 0;
    width: 180px;
    padding-right: 10px;
    line-height: 29px;
}

#buttons {
    display: table;
    position: absolute;
    top: 385px;
    left: 240px;
}

#btn-cancel,
#btn-defaults,
#btn-save,
#btn-apply {
    vertical-align: middle;
    display: table-cell;
}

#btn-keys {
    position: absolute;
    top: 45px;
    left: 20px;
    line-height: 29px;
    padding-left: 15px;
}

#binding-container {
    position: absolute;
    top: 45px;
    left: 280px;
    width: 400px;
    height: 320px;
    overflow: auto;
}


