html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-size: 100%;
}

#blueprint-window {
    width: 282px;
    left: 0px;
    right: 0px;
}

#blueprint-container {
    display: inline-block;
    width: 100%;
    height: 243px;
    overflow-y: scroll;
}

.blueprint {
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background: url('../images/buildblueprints/blueprint.jpg') no-repeat top left;
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
}

#filename {
    width: 200px;
    color: #d3d3d3;
    margin-top: 13px;
    padding: 5px;
    border: solid 1px rgb(39, 39, 39);
    background: rgb(39, 39, 39);
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.75);
    outline: none;
}