/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    color: white; 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.392);
}

div {
    text-align: center;
}