/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 256px;
    height: 256px;
    background-image: url('../images/minimap/alpha-map_02.png');
    background-size: cover;
    opacity: 0.75;
}

#Map::before{
    content:url('../images/minimap/mapframe.png');
    position:absolute;
    top:-10px;
    left:-5px;
}

#hidden {
    display: none;
}

.none {
    -webkit-filter: grayscale(1) brightness(.7);
    filter: grayscale(1) brightness(.7);
}

.hover{
    -webkit-filter: grayscale(1) brightness(1.2);
    filter: grayscale(1) brightness(1.2);
}

.contest {
    -webkit-filter: grayscale(0) brightness(1.1);
    filter: grayscale(0) brightness(1.1);
}
.tdd {
    -webkit-filter: grayscale(0) brightness(1) hue-rotate(50deg);
    filter: grayscale(0) brightness(1) hue-rotate(50deg);
}
.art {
    -webkit-filter: grayscale(0) brightness(0.6) hue-rotate(310deg);
    filter: grayscale(0) brightness(0.6) hue-rotate(310deg);
}
.vik {
    -webkit-filter: grayscale(0) brightness(1) hue-rotate(170deg);
    filter: grayscale(0) brightness(1) hue-rotate(170deg);
}