/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

#respawn {
    display: none;
    width: 267px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -133px;
    background: url('../images/respawn/bg.png') no-repeat center center;
    text-align: center;
}

#respawn > p {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}