/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#respawn {
    display: none;
    width: 512px;
    height: 562px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -281px 0 0 -256px;
    text-align: center;
}

#respawn h2 {
    padding: 5px;
    color: #7c7c7c;
}

#map {
    width: 512px;
    height: 512px;
    background-image: url('../images/respawn/map.png');
    background-size: cover;
}