/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: relative;
    margin: auto;
    width: 512px;
    height: 512px;
    background-image: url('../images/respawn/map.png');
    background-size: cover;
    opacity: 1.0;
}

.canselect:hover {
    -webkit-filter: grayscale(1) brightness(1.2);
    filter: grayscale(1) brightness(1.2);
}