/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vendor/hopscotch.css";

body {
    margin: 0;
}

.animated {
    -webkit-animation-fill-mode: none;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: none;
    }

    100% {
        opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: none;
    }

    100% {
        opacity: 1;
        -o-transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fade-in-up {
    -webkit-animation-name: none;
    animation-name: none;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: none;
    }

    100% {
        opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: none;
    }

    100% {
        opacity: 1;
        -ms-transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fade-in-down {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: none;
    }

    100% {
        opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: none;
    }

    100% {
        opacity: 1;
        -o-transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fade-in-right {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: none;
    }

    100% {
        opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: none;
    }

    100% {
        opacity: 1;
        -o-transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

div.hopscotch-bubble .hopscotch-nav-button:hover {
    *zoom: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.hopscotch-bubble .hopscotch-nav-button.next {
    border-color: #24190C;
    color: #fff;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #BC7128;
    background-image: -webkit-linear-gradient(top, rgba(47, 37, 24, 1) 0%, rgba(82, 63, 40, 1) 100%);
    border-radius: inherit;
    outline: none;
}

    div.hopscotch-bubble .hopscotch-nav-button.next:hover {
        border-color: #000000;
        background-image: -webkit-linear-gradient(top, rgba(32, 25, 16, 1) 0%, rgba(50, 38, 24, 1) 100%);
        outline: none;
    }

div.hopscotch-bubble .hopscotch-nav-button.prev {
    border-color: #24190C;
    color: #fff;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #BC7128;
    background-image: -webkit-linear-gradient(top, rgba(29, 23, 14, 1) 0%, rgba(56, 43, 26, 1) 100%);
    border-radius: inherit;
    outline: none;
}

    div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
        border-color: #000000;
        background-image: -webkit-linear-gradient(top, rgba(32, 25, 16, 1) 0%, rgba(50, 38, 24, 1) 100%);
        outline: none;
    }

div.hopscotch-bubble {
    background: url(../images/tour/body-bg.png);
    border: none;
    color: #000;
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: inset 0px 0px 60px 3px rgba(46,29,0,0.85), 0px 0px 15px 3px rgba(0,0,0,0.85);
}

    div.hopscotch-bubble::before {
        position: absolute;
        content: url(../images/tour/duckguide.png);
        left: -25px;
        top: -15px;
    }

    div.hopscotch-bubble h3 {
        font-family: 'Merriweather Sans', Helvetica, Arial;
        font-size: 18px;
        line-height: 21px;
        margin: -1px 15px 0 0;
        padding: 0;
    }

    div.hopscotch-bubble .hopscotch-bubble-container {
        padding: 25px 20px 15px 25px !important;
    }

    div.hopscotch-bubble .hopscotch-content {
        font-family: 'Merriweather Sans', Helvetica, Arial;
        line-height: 20px;
        font-size: 15px;
    }

    div.hopscotch-bubble .hopscotch-bubble-content {
        margin: 0;
    }


    div.hopscotch-bubble .hopscotch-bubble-number {
        position: absolute;
        top: 15px;
        background: rgba(90, 73, 48, 0.35);
        border-radius: 15px;
        box-shadow: inset 0px 0px 23px 3px rgba(46, 29, 0, 0.59);
        text-shadow: 2px 1px rgba(46, 29, 0, 0.49);
        color: #E5DED4;
        display: none;
        float: left;
        font-size: 17px;
        font-weight: bold;
        line-height: 31px;
        text-align: center;
        width: 30px;
        height: 30px;
    }

    div.hopscotch-bubble .hopscotch-bubble-close {
        color: #33281A;
        background: url(../images/window/btn-close.png) no-repeat center center;
        -webkit-filter: sepia(1) saturate(100%) brightness(0.3);
        opacity: .7 ;
        font-size: 16px;
        text-indent: -99999px;
        width: 10px;
        height: 18px;
        cursor: pointer;
    }

        div.hopscotch-bubble .hopscotch-bubble-close.hide,
        div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
            display: none;
        }

    div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
        position: relative;
        top: 3px;
        width: 50px;
        height: 20px;
        background: url(../images/tour/arrow.png) no-repeat;
        background-size: contain;
        -webkit-transform: rotate(180deg);
        border: none;
    }

    div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
        border: none;
    }

    div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
        width: 50px;
        height: 20px;
        background: url(../images/tour/arrow.png) no-repeat;
        background-size: contain;
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        position: relative;
        top: -5px;
        border: none;
    }

    div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
        width: 0px;
        height: 0px;
        bottom: -5px;
    }

        div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
            border: none;
        }

/*  Tour UI  */
#tour {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 460px;
}

    #tour #primary {
        display: block;
        height: 150px;
        width: 150px;
        position: absolute;
    }

/*  Overlay  */
.overlaytour {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
}

    .overlaytour div {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }

    .overlaytour .boxleft {
        height: 100%;
        width: 360px;
    }

    .overlaytour .boxright {
        height: 100%;
        width: 100%;
    }

    .overlaytour .boxtop {
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

        .overlaytour .boxtop div {
            display: inline-block;
            margin-right: -4px;
        }

    .overlaytour .black {
        background: rgba(0, 0, 0, .85);
    }

    .overlaytour .emptymap {
        -webkit-box-shadow: inset -70px 0px 52px 45px rgba(0,0,0,.85);
    }

    .overlaytour .emptybar {
        -webkit-box-shadow: inset 0px -74px 60px 54px rgba(0,0,0,.85);
    }

#box1 {
    width: 100%;
    margin-bottom: calc(1px - 0.5px);
    height: calc(30% - 200px);
}

#box2 {
    width: 360px;
    height: 236px;
}

#box3 {
    width: 100%;
    height: 100%;
}

#box4 {
    width: calc(50% - 250px);
    height: 100%;
}

#box5 {
    width: 500px;
    height: 100%;
}

#box6 {
    width: calc(50% - 250px);
    height: 100%;
}

#box7 {
    height: 100%;
    width: calc(100% - 360px);
}

.overlaytour span {
    color: #ccc2ae;
    font-family: 'Cinzel';
    letter-spacing: 1.5px;
    font-size: 16px;
}

    .overlaytour span:after {
        content: "";
        position: absolute;
        height: 5px;
        border-left: 1px solid #d5cab3;
        top: 0;
        width: 25px;
    }

    .overlaytour span#minimap {
        position: fixed;
        margin-top: -40px;
        left: 80px;
    }

        .overlaytour span#minimap:after {
            top: 25px;
            border-left: 1px solid #d5cab3;
            margin-left: -42px;
            height: 25px;
        }

    .overlaytour span#points {
        position: fixed;
        margin-left: 170px;
        top: 100px;
    }

        .overlaytour span#points:after {
            -webkit-transform: rotate(180deg);
            height: 10px;
            border-top: 1px solid #d5cab3;
            border-left: 1px solid #d5cab3;
            border-right: 1px solid #d5cab3;
            top: -15px;
            margin-left: -212px;
            width: 255px;
        }

    .overlaytour span#time {
        position: fixed;
        top: 80px;
        margin-left: 430px;
    }

        .overlaytour span#time:after {
            border-left: 1px solid #d5cab3;
            border-top: none;
            top: -30px;
            margin-left: -180px;
            height: 25px;
        }

.overlaytour #controlpoint {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #d5cab3;
    border-radius: 50px;
    opacity: 0;
    margin-left: 190px;
    margin-top: 56px;
}

    .overlaytour #controlpoint:before {
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid #ccc2ae;
        top: 0;
        width: 35px;
        margin-top: 15px;
        margin-left: 40px;
    }

    .overlaytour #controlpoint:after {
        content: "Control Point";
        font-size: 16px;
        color: #ccc2ae;
        display: block;
        width: 150px;
        font-family: 'Cinzel';
        letter-spacing: 1.5px;
        margin-left: 85px;
        margin-top: 5px;
    }
