/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#btn-commit {
    width: 67px;
    height: 61px;
    left: 40px;
    top: 0px;
    position: absolute;
    background-size: 100%;
    color: white;
    text-align: center;
}

.add-btn {
    background: url('../images/buildactions/add.png') no-repeat top left;
}

.remove-btn {
    background: url('../images/buildactions/remove-block.jpg') no-repeat top left;
}

.button-active {
    width: 100%;
    height: 100%;
}

#btn-cancel {
    width: 67px;
    height: 61px;
    left: 107px;
    top: 0px;
    position: absolute;
    background: url('../images/buildactions/select-block.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-rotate-x {
    width: 67px;
    height: 61px;
    left: 174px;
    top: 0px;
    position: absolute;
    background: url('../images/buildactions/x-rotate-red.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-rotate-y {
    width: 67px;
    height: 61px;
    left: 241px;
    top: 0px;
    position: absolute;
    background: url('../images/buildactions/y-rotate-grn.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-rotate-z {
    width: 67px;
    height: 61px;
    left: 308px;
    top: 0px;
    position: absolute;
    background: url('../images/buildactions/z-rotate-blue.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-flip-x {
    width: 67px;
    height: 61px;
    left: 375px;
    top: 0px;
    position: absolute;
    background: url('../images/building/building-btn.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-flip-y {
    width: 67px;
    height: 61px;
    left: 442px;
    top: 0px;
    position: absolute;
    background: url('../images/building/building-btn.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-flip-z {
    width: 67px;
    height: 61px;
    left: 509px;
    top: 0px;
    position: absolute;
    background: url('../images/building/building-btn.jpg') no-repeat top left;
    background-size: 100%;
    color: white;
    text-align: center;
}

#btn-commit:before {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 40px;
    height: 40px;
    content: url('../images/skillbar/cap-left.png');
}

#btn-flip-z:after {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 40px;
    content: url('../images/skillbar/cap-right.png');
}
