.maxHPBar {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 20px;
    background-color: black;
}

.hpBar {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 20px;
    background-color: red;
}

.hpPct {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 20px;
    text-align: center;
    color: white;
}