/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-size: 100%;
}

#block-tray {
    width: 252px;
    left: 20px;
    right: 0px;
}

#shape-filter-container,
#type-filter-container {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

#shape-filter-container {
    display: inline-block;
}

#shape-filter-label,
#type-filter-label {
    font-size: 12px;
    letter-spacing: .5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: rgb(166, 166, 166);
}

#type-filter-label {
    margin-right: 16px;
}

#shape-filter,
#type-filter {
    width: 155px;
}

#block-container {
    display: inline-block;
    width: 100%;
    height: 261px;
    overflow-y: scroll;
}

.block-type {
    position: relative;
    width: 64px;
    height: 64px;
    background-size: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}